<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body>
  <h1>Home</h1>
    <header>
      <nav>
        <a href="/register">Register></a>
        <a href="/login">Login Iin></a>
      </nav>
    </header>
  </body>
</html>
