<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <h1>Home</h1>
    <header>
      <nav>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
      </nav>
    </header>
  </body>
</html>
