<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" type="text/css" href="css/register.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
  <body>
    <h1>Register</h1>
    <form action="/users" method="post">
          <input type="text" name="user[username]" value="" placeholder="Username">
          <input type="password" name="user[password]" value="" placeholder="Password">
          <input type="submit" value="Sign up">
    </form>
  </body>
</html>
