.images {
  width: 120px;
  height: 140px;
}

h1 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

.container {
/* display: flex;
 justify-content: center;
 flex-wrap: wrap;*/
}

.card {

}
