body {
  background-image: url("http://cdn.idigitaltimes.com/sites/idigitaltimes.com/files/styles/large/public/2016/05/16/clash-royale-balancing-changes-hog-freeze-lava-hound-new-cards-upgrade-how-get.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
}



