<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <!-- Example -->
    <h1>Welcome <%= user.username %>!</h1>
    <a href="/card">Card Catalog</a>
    <form action="/auth?_method=DELETE" method="post">
      <input type="submit" value="Logout">
    </form>
  </body>
</html>
